/* =====================================================================================
 *
 * 
 * Definitions related to blockquotes. 
 * 
 * 
 */
 

/* -------------------------------------------------------------------------------------
/* Blockquote */

blockquote.links {
	margin: 1em 0 1em 2em;
	padding: 0.2em 0.5em 0.5em 1em;
	border-left: 0.1em dashed #95959F;
}

