/* =====================================================================================
 *
 * 
 * Definitions related to fieldset, forms and form elements. 
 * Definitions for fonts and colors are in their own file, color.css and font.css.
 * 
 */
 

/* -------------------------------------------------------------------------------------
/* General settings for fieldset/forms */

fieldset.standard {
	border: 2px #ccc solid;
	padding-top: 1em;
}

/* Wrapper around form items */
fieldset.standard div.form-wrapper {}
fieldset.standard div.form-wrapper:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* Status output from form being submitted */
fieldset.standard div.form-status {}

/* legend */
fieldset.standard legend {
	border:3px solid #ccc; 
	padding: 0.2em 0.4em 0.2em 0.2em;
	font-family: inherit;
	font-size: 1.2em;
	text-transform: uppercase; /* capitalize uppercase */
	font-weight: bold; 
}
fieldset.standard legend:first-letter { font-size: 1.3em; }

/* label */
fieldset.standard label {
	clear: both;
	float:left;
	padding-right: 0.5em;
	text-align: left;
}

/* input */
fieldset.standard input {
	width: 24em;
	height: 2em;
	font-size: 1.2em;
}

/* textarea */
fieldset.standard textarea {
	font-family: inherit;
	font-size: 1.2em;
	min-width: 24em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

/* buttonbar, container for several buttons  */
fieldset.standard div.buttonbar {
	clear: both;
	float: right;
	margin-top: 1em;
}

/* button */
fieldset.standard button {
	clear: left;
	height: 2em;
	font-size: 1.2em;
	text-transform: uppercase; /* capitalize uppercase */
	font-weight: bold; 
}

/* save button */
fieldset.standard button.save {
	background: url('../../img/silk/disk.png') no-repeat 3px 4px;
	text-indent: 18px; 
}

/* add button */
fieldset.standard button.add {
	background: url('../../img/silk/add.png') no-repeat 3px 4px;
	text-indent: 18px; 
}

/* delete button */
fieldset.standard button.delete {
	background: url('../../img/silk/delete.png') no-repeat 3px 4px;
	text-indent: 15px; 
}

/* status message */
fieldset.standard div.form-status {
	float: left;
	margin-top: 1em;
}

fieldset.standard p { margin-bottom: 2em; }

/* readonly items */
fieldset.standard input[readonly],
fieldset.standard textarea[readonly] { color: #999; }

/* Captha, as in CCaptcha.php */
fieldset.standard div.captcha { float: right; }
fieldset.standard div.captcha div.image { float: left;}
fieldset.standard div.captcha div.menu { float: right;}
fieldset.standard div.captcha div.label { clear: both; }
fieldset.standard div.captcha input { }

/* To hide a element */
.hide {display: none;}


/* -------------------------------------------------------------------------------------
/* type-1 layout of form. Fullsize and buttons to the right. */

fieldset.type-1 {}

fieldset.type-1 div.form-wrapper {
	margin: auto;
	width: 100%;
}

fieldset.type-1 label {
	clear: both;
	float: left;
	padding-top: 0.8em;
}

fieldset.type-1 input {
	float: right;
}


/* -------------------------------------------------------------------------------------
/* type-2, centered, input has full width, label above */

fieldset.type-2 {}

fieldset.type-2 div.form-wrapper {
	margin: auto;
	width: 90%;
}

fieldset.type-2 label {
	float: right;
	display: block;
	width: 100%;
	margin-top: 0.5em;
}

fieldset.type-2 input {
	float: right;
	width: 100%;
}

fieldset.type-2 textarea {
	float: right;
	min-width: 100%;
}


/* -------------------------------------------------------------------------------------
/* type-3, centered, input has full width, label above, button at end of input */
/* useful for one input with button, a bit like search (type-s)*/

fieldset.type-3 {}

fieldset.type-3 div.form-wrapper {
	margin: auto;
	width: 90%;
}

fieldset.type-3 label {
	float: left;
	display: block;
	width: 100%;
	padding-left: 0;
}

fieldset.type-3 input {
	float: left;
	height: 1.6em;
	width: 80%;
}

fieldset.type-3 div.buttonbar {
	clear: none;
	float: left;
	margin: 0 0 0 0.5em;
}

fieldset.type-3 div.form-status {
	clear: both;
	float: left;
}


/* -------------------------------------------------------------------------------------
/* type-s, for search, full width */

fieldset.type-s {
	border: none;
}

fieldset.type-s div.form-wrapper {
	margin: auto;
	width: 100%;
}

fieldset.type-s label {
	float: right;
	display: block;
	width: 100%;
	margin-top: 0.5em;
}

fieldset.type-s input {
	float: left;
	width: 80%;
	height: 2em;
	font-size: 1.0em;
}

fieldset.type-s div.buttonbar {
	clear: none;
	float: left;
	margin-top: 0em;
}

fieldset.type-s div.form-status {
	clear: both;
	float: left;
	margin-top: 0.2em;
	font-style: italic;
	font-size: 0.8em;
}


/* -------------------------------------------------------------------------------------
/* fileupload-standard, custom settings */

fieldset.fileupload-standard input[type='file'] { width: 28em; }


/* -------------------------------------------------------------------------------------
/* account-settings, custom settings */

fieldset.account-settings input.avatar { width: 28em; }




/* -------------------------------------------------------------------------------------
/* EDIT THESE TO COMPLY WITH NEW FORMAT OF FORMS /
/* Login form*/
/* Editor settings */
/* Account profile settings */

/* fieldset */
fieldset.loginform,
fieldset.editor {
	paddisng: 0.2em 0.5em 1em 0.5em;
	border: 2px #ccc solid;
}

/* input */
fieldset.loginform input,
fieldset.editor input {
	width: 24em;
	height: 2em;
	font-size: 1.3em;
}

/* textarea */
fieldset.editor textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.5em
}

/* Custom button settings */
fieldset.loginform button,
fieldset.editor button {
	min-width: 12em;
	height: 2em;
	font-size: 1.3em;
	text-transform: uppercase; /* capitalize uppercase */
	font-weight: bold; 
}


/* -------------------------------------------------------------------------------------
/* Custom settings for individual fields */

/* Custom Account profile settings */
fieldset.accountsettings input.captcha { width: 300px; }

/* Custom Editor settings */
fieldset.editor input.title { width: 400px; }
fieldset.editor textarea.size98percentx300 { width: 98%; height: 300px; }
fieldset.editor button { min-width: 8em;}



/* -------------------------------------------------------------------------------------
/ * Display source code */
div.sourcecode,
div.sourcecode_h40 {
	border: 4px solid #eeeeee;
	overflow: auto;
	background: white;
	padding-left: 10px;
}

