/* =====================================================================================
 *
 * 
 * All definitions related to forms and inputs 
 *
 * 
 */
 

/* -------------------------------------------------------------------------------------
/* Login */

fieldset.loginform {
	margin: 0 auto;
	padding: 10px;
	width: 400px;
	border: 10px #eee ridge;
}

fieldset.loginform input.account,
fieldset.loginform input.password {
	font-family: Verdana, Sans-serif;
	width: 16em;
	font-size: 1.5em;
}

fieldset.loginform button {
	font-family: Verdana, Sans-serif;
	width: 10em;	
	padding: 0.3em;
	font-size: 1.5em;
}


/* -------------------------------------------------------------------------------------
/* User/Account Settings */

fieldset.accountsettings {
	padding: 10px;
	border: 2px #eee solid;
}

fieldset.accountsettings input.account,
fieldset.accountsettings input.email,
fieldset.accountsettings input.avatar,
fieldset.accountsettings input.groups,
fieldset.accountsettings input.password {
	font-family: Verdana, Sans-serif;
	width: 24em;
	font-size: 1.2em;
	padding: 0.3em;
}

fieldset.accountsettings input.avatar {
	width: 28em;
}

fieldset.accountsettings input.account {
	color: #999;
}

fieldset.accountsettings button {
	font-family: Verdana, Sans-serif;
	width: 12em;	
	font-size: 1.2em;
	padding: 0.3em;
	margin-top: 0.5em;
}
