/* =====================================================================================
 *
 * 
 * All definitions related to navigation bars and menus, 
 * except fonts, colors and background images (except borders). 
 *
 * 
 */
 
/* -------------------------------------------------------------------------------------
/* Navigation items, standard setup */

ul.nav-standard {
	list-style: none;
	padding: 0;
	margin: 0;
}

ul.nav-standard:after
{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

ul.nav-standard li {
	float: left;
	margin: 0 0.5em 0 0.5em;
}

/* http://www.positioniseverything.net/easyclearing.html
<!--[if IE]>
<style type="text/css">
  .clearfix {
    zoom: 1;    
    display: block;
    }  
</style>
<![endif]-->
*/


/* -------------------------------------------------------------------------------------
/* Navigation path, used as top navigation menu to show the user where he is */

ul.nav-path {
	font-size: 0.8em;
}

ul.nav-path li {
	display: inline;
	margin: 0;
	padding: 0 0.3em 0 0em;
}

ul.nav-path li a { 
}


/* -------------------------------------------------------------------------------------
/* Navigation items, nav-standard and enhanced as nav-menu-tab, a tabbing like menu bar */

ul.nav-menu-tab {
	border-bottom: 0.1em solid #95959F;
	padding: 0.3em 0em 0.5em 0.2em;
}

ul.nav-menu-tab li {
	display: inline;
	margin: 0;
	padding-left: 0.2em;
}

ul.nav-menu-tab li a { 
	background: url(../../img/css/button-background.png) #fff repeat-x;
	background-position: bottom left;
	border: 0.1em solid #95959F;
	text-decoration: none;
	text-align: center;
	padding: 0.3em 1.1em 0.5em 1.0em;
}

ul.nav-menu-tab li a:hover {
	background-position: center left;
	text-decoration: underline;
	border: 0.1em solid #77777F;
}

ul.nav-menu-tab li a:active {
	background-position: top left;
	text-decoration: underline;
	border: 0.1em solid #4A4A4F;
	padding: 0.3em 1.0em 0.5em 1.1em;
}

ul.nav-menu-tab li.current a {
	background-position: top left;
	border-bottom: 0.1em solid transparent;
}

ul.nav-menu-tab li.current a:hover {
	background-position: center left;
	text-decoration: underline;
}


/* -------------------------------------------------------------------------------------
/* Navigation items, nav-standard but looking as a button */

ul.nav-button li {
	margin: 0 0.15em 0 0.15em;
}

ul.nav-button li a {
	height: 2em;
	line-height: 2em;
	float: left;
	display: inline;
}

ul.nav-button li a {
	background: url(../../img/css/button-background.png) #fff repeat-x;
	background-position: bottom left;
	height: 2em;
	line-height: 2em;
	float: left;
	width: 9em;
	display: block;
	border: 0.1em solid #dcdce9;
	text-decoration: none;
	text-align: center;
	padding: 0em 0.1em 0.1em 0em;
}

ul.nav-button li a:hover {
	text-decoration: underline;
	border: 0.1em solid #95959F;
}

ul.nav-button li a:active {
	background-position: top left;
	text-decoration: underline;
	border: 0.1em solid #4A4A4F;
	padding: 0.1em 0em 0em 0.1em;
}




/* -------------------------------------------------------------------------------------
/* Navigation items, standard setup */
/*
div.nav-standard {
	clear: both;
}

div.nav-standard ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

div.nav-standard li {
	float: left;
	margin: 0 0.5em 0 0.5em;
}
*/


/* -------------------------------------------------------------------------------------
/* Navigation items, nav-standard but looking as a button */

/*
div.nav-button li {
	margin: 0 0.15em 0 0.15em;
}

div.nav-button li a {
	height: 2em;
	line-height: 2em;
	float: left;
	display: inline;
}

div.nav-button li a {
	background: url(../../img/css/button-background.png) #fff repeat-x;
	background-position: bottom left;
	height: 2em;
	line-height: 2em;
	float: left;
	width: 9em;
	display: block;
	border: 0.1em solid #dcdce9;
	text-decoration: none;
	text-align: center;
	padding: 0em 0.1em 0.1em 0em;
}

div.nav-button li a:hover {
	text-decoration: underline;
	border: 0.1em solid #95959F;
}

div.nav-button li a:active {
	background-position: top left;
	text-decoration: underline;
	border: 0.1em solid #4A4A4F;
	padding: 0.1em 0em 0em 0.1em;
}

*/



/* -------------------------------------------------------------------------------------
/* http://www.webcredible.co.uk/user-friendly-resources/css/css-navigation-menu.shtml */
/* Navigation items, as buttons */

/*div.nav-links {
	width:30em
}

div.nav-links ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

div.nav-links li {
	float: left;
	margin: 0 0.5em 0 0.5em;
}

div.nav-links li a {
	height: 2em;
	line-height: 2em;
	float: left;
	display: inline;
}

div.nav-links li a:hover {
	text-decoration: underline;
}

div.nav-button li a {
	background: url(../../img/css/background-button.gif) #fff bottom left repeat-x;
	height: 2em;
	line-height: 2em;
	float: left;
	width: 9em;
	display: block;
	border: 0.1em solid #dcdce9;
	text-decoration: none;
	text-align: center;
}
*/

/* -------------------------------------------------------------------------------------
/* Top menu */
/* Navigation bar */

div#nav {
	clear: both;
	padding-top: 3px;
	font: 1em/2 Verdana, Sans-serif;
}
div#nav ul {
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
}
div#nav li {
	display: inline;
	margin: 0;
	padding: 0;
}
div#nav a {
	display: block;
	float: left;
	padding: 0 12px;
	text-decoration: none;
}
div#nav a:hover,
div#nav a:focus {}
div#nav .sel a {}
div#nav .sel a:hover,
div#nav .sel a:focus {}

