/* =====================================================================================
 *
 * 
 * Definitions related to tables. 
 * 
 * 
 */
 

/* -------------------------------------------------------------------------------------
/* Tables */

table.standard {}

table.full-width {
	width: 99%;
}

table.standard caption {
	caption-side: bottom; 
	padding-bottom: 0.5em;
	font-size: 1.0em;
	text-align: left;
	font-style: italic;
}

table.standard th {
	border-top: 0.2em solid #999999;
	border-bottom: 0.2em solid #999999;
	background: #bbbbbb;
	height: 2em;
}

table.standard tr { }
table.standard tr.r1 {
	background: #f0f0f0;
}
table.standard tr.r2 {
	background: #e0e0e0;
}

table.standard tr:hover {
	background: #cccccc;
}

table.standard td {
	word-wrap: break-word; /* CSS3 */	
	-ms-word-wrap: break-word; /* IE8 */	
}

table.standard .number { text-align: right; }
table.standard .date { text-align: center; }
table.standard .center { text-align: center; }

table.standard col.header { background: #ddd; }

/*
colgroup {}
col{}
thead {}
tbody {}
tfoot {}
th {}
td {}
caption {}
*/

/* -------------------------------------------------------------------------------------
/* Show/download file details */

table.filedetails-show {
}

table.filedetails-show col.header {
}

table.filedetails-show td {
	padding: 0.5em;
	font-size: 1.0em;
	min-width: 10em;
}

table.filedetails-show caption {
	caption-side: bottom; 
	padding-bottom: 0.5em;
	text-align: left;
	font-style: italic;
	color: #999999;
}





